.flex{
    display: flex;
}
.item-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.space-between{
    justify-content: space-between;
}
.sv{
    background-color: #f5f5f6;
}
.ma{
    margin: auto;
}
.display-block{
    display: block;
}
.flex-end{
    justify-content: flex-end;
}
.flex-start{justify-content: flex-start;}
.inline-block{
    display: inline;
    
}
.floatlef{
    float: left;
}
.relative{
    position: relative;
}
.abs{
    position: absolute;
    left: -30px;
}
.abs2{
    left: 0px;
}